<?xml version="1.0"?>
<config>
    <modules>
        <Mage42_PostcodeNL>
            <version>0.1.1</version>
        </Mage42_PostcodeNL>
    </modules>
    <frontend>
        <routers>
            <mage42_postcodenl>
                <use>standard</use>
                <args>
                    <module>Mage42_PostcodeNL</module>
                    <frontName>postcodenl</frontName>
                </args>
            </mage42_postcodenl>
        </routers>
        <layout>
            <updates>
                <mage42_postcodenl>
                    <file>mage42/postcodenl/lookup.xml</file>
                </mage42_postcodenl>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mage42_postcodenl before="Mage_Adminhtml">Mage42_PostcodeNL_Adminhtml</mage42_postcodenl>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <helpers>
            <mage42_postcodenl>
                <class>Mage42_PostcodeNL_Helper</class>
            </mage42_postcodenl>
        </helpers>
        <models>
            <postcodenl>
                <class>Mage42_PostcodeNL_Model</class>
                <resourceModel>postcodenl_mysql4</resourceModel>
            </postcodenl>
        </models>
        <blocks>
            <mage42_postcodenl>
                <class>Mage42_PostcodeNL_Block</class>
            </mage42_postcodenl>
        </blocks>
        <resources>
            <postcodenl_setup>
                <setup>
                    <module>Mage42_PostcodeNL</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </postcodenl_setup>
            <postcodenl_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </postcodenl_write>
            <postcodenl_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </postcodenl_read>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <used_postcodenl_api><to_order>*</to_order></used_postcodenl_api>
            </sales_convert_quote>
            <sales_convert_order>
                <used_postcodenl_api><to_quote>*</to_quote></used_postcodenl_api>
            </sales_convert_order>
        </fieldsets>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <used_postcodenl_api_observer>
                        <type>singleton</type>
                        <class>Mage42_PostcodeNL_Model_Observer</class>
                        <method>saveUsedPostcodenlApi</method>
                    </used_postcodenl_api_observer>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mage42_postcodenl>
                    <file>mage42/postcodenl/lookup.xml</file>
                </mage42_postcodenl>
            </updates>
        </layout>
        <translate>
            <modules>
                <mage42_postcodenl>
                    <files>
                        <default>Mage42_PostcodeNL.csv</default>
                    </files>
                </mage42_postcodenl>
            </modules>
        </translate>
        <events>
            <admin_system_config_changed_section_mage42_postcodenl>
                <observers>
                    <postcodenl_admin_change>
                        <type>singleton</type>
                        <class>Mage42_PostcodeNL_Model_Observer</class>
                        <method>adminConfigurationChanged</method>
                    </postcodenl_admin_change>
                </observers>
            </admin_system_config_changed_section_mage42_postcodenl>
        </events>
    </adminhtml>
    <default>
        <mage42_postcodenl>
            <config>
                <enabled>1</enabled>
                <api_key></api_key>
                <api_secret></api_secret>
                <api_user></api_user>
                <api_status></api_status>
            </config>
            <advanced_config>
                <select_countries_for_autocomplete></select_countries_for_autocomplete>
                <use_street2_as_housenumber>0</use_street2_as_housenumber>
                <use_street3_as_housenumber_addition>0</use_street3_as_housenumber_addition>
                <block_postofficeboxaddresses>0</block_postofficeboxaddresses>
                <never_hide_country>0</never_hide_country>
                <admin_validation_enabled>1</admin_validation_enabled>
            </advanced_config>
            <development_config>
                <api_url>https://api.postcode.eu</api_url>
                <account_url>https://api.postcode.eu</account_url>
                <api_showcase>0</api_showcase>
                <api_debug>0</api_debug>
            </development_config>
        </mage42_postcodenl>
    </default>
</config>